@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
body {
  font-family: "Inter", sans-serif;
}
.heading-xl {
  font-size: 12.5rem;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
}
.heading-l {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 68px;
}
.heading-m {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.heading-s {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 4px;
}
.heading-s-b {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 28px;
}
.heading-xs {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 3px;
}
.time-zone {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 28px;
}
.body {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 28px;
}
.custom-tracking {
  letter-spacing: -2.5px;
}
.custom-tracking-wide {
  letter-spacing: 3px;
  text-transform: uppercase;
}
.btn-spacing {
  letter-spacing: 5px;
}
